<%- include partials/header.ejs %>

<%- include partials/main_nav.ejs %>
  

  
  <!-- Main Content -->
  <main class="container">
    <div class="jumbotron">
      
      <div id="vido-area">
        <video id="video" poster="../public/Assets/images/fushaPoster.png" webkit-playsinline playsinline muted autoplay loop>
          <source src="../public/Assets/vidos/fusha.mp4" type="video/mp4">
          <p>There is no condition to play video</p>
        </video>
      </div>
      
      <h1 class="display-7"><%= title %> ME</h1>
      
      <img src="../Assets/images/myFace.jpg" alt="myFace" width="150" height="200">

      <ul type="none">
        <table >
            <tr>
            <th><b>Name</b></th>
            <td><b>:</b>&emsp;Yuichi Boki</td>
            </tr>
            <tr>
                <th><b>Birth Day</b></th>
                <td><b>:</b>&emsp;1991. 04. 24</td>
            </tr>
            <tr>
                <th><b>Nationality</b></th>
                <td><b>:</b>&emsp;Japanese</td>
            </tr>
            <tr><th><br></th></tr>
            <tr>
                <th valign="top"><b>Introduction</b></th>
                <td><b>:</b>&emsp;&emsp; My name is Yuichi Boki, I am currently an international student at Centennial college studying Computer Programming.<br>
                    &emsp;I am looking for work to help with my life here in Canada and to get more experience of social activities. In Japan, <br>
                    &emsp;I have worked in the service industry for many years.I am confident that I can learn new skills and use my past experience<br>
                    &emsp;to do well working for IT industry, which require communication skills.</td>
            </tr>
        </table>
      
      <button type="button" onclick="location.href='../Assets/Resume.pdf'">My Resume </button>
      
    

    </div>
  </main>
  
<%- include partials/bottom_nav.ejs %>  

<%- include partials/footer.ejs %>
  




