<%- include partials/header.ejs %>

<%- include partials/main_nav.ejs %>
  

  <!-- Main Content -->
  <main class="container">
    <div class="jumbotron">
      <h1 class="display-7"><%= title %></h1>
      <a href=""></a>

      <table>
        <tr>
            <td><a href="../Assets/CookUp.pdf"><img src="../Assets/images/CUImage.png" alt="CUImage" width="300" height="200"></a></td>
            <td>&emsp;</td>
            <td> 
                &emsp;&emsp;We made cooking recipe aplication. I talked about and improve the structure of application as a member of our group.
            </td>
        </tr>
        <tr>
            <td><a href="../Assets/CookUp.pdf"><img src="../Assets/images/GyuKaku.png" alt="GyuKakuImage" width="300" height="200"></a></td>
            <td>&emsp;</td>
            <td> 
                &emsp;&emsp;I made HP with JavaSqript. It shows you Login screen, and allow you to put user name and Email. When you 
                Login the HP, the recomend YakinikuBBQ resturant and map are showed up.
            </td>
        </tr>
        <tr>
            <td><a href="../home.ejs"><img src="../Assets/images/logo.png" alt="logo_yb" width="300" height="200"></a></td>
            <td>&emsp;</td>
            <td> &emsp;&emsp;I am making this HP. This is fist time to use ejs for me. Please explor in this HP.</td>
        </tr>
    </table>
  
    </div>
    
  

  
<%- include partials/bottom_nav.ejs %>  

<%- include partials/footer.ejs %>
  
