<%- include partials/header.ejs %>

<%- include partials/main_nav.ejs %>
  

  <!-- Main Content -->
  <main class="container">
    <div class="jumbotron">
      <h1 class="display-7"><%= title %></h1>
      <img src="../Assets/images/programming.jpg" alt="CUImage" width="500" height="300">
      <p><br></p>
      <table>
        <tr>
            <td valign="top"><b>Programming</b></td>
            <td valign="top"><b>&nabla;:</b></td>
            <td>
                <ul>
                    <li>c#</li>
                    <li>JavaScript</li>
                    <li>Java</li>
                    <li>HTML</li>
                    <li>Css</li>
                </ul>
            </td>
        </tr>
        <tr>
            <td valign="top"><b>Data Base</b></td>
            <td valign="top"><b>&nabla;:</b></td>
            <td>
                <ul>
                    <li>ORACL</li>
                    <li>MongoDB</li>
                </ul>
            </td>
        </tr>
      </table>
        
        
    </div>
  </main>
  
<%- include partials/bottom_nav.ejs %>  

<%- include partials/footer.ejs %>
  
